@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: rgb(229, 229, 217);
  background: #654ea3; 
  background: -webkit-linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); 
  background: linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  );  */
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
